          
   <div class="columns">
    <div class="medium-12 columns">
        <div id="profile-settings" class="profile-settings selen-profile-settings" ng-controller="profileSettingPassword">
            <div class="data-wrap mc_wrapper">
                <h2 class="bb kl">Change your password</h2>
                <form novalidate class="profile-form" name="profileForm" ng-submit="submitForm(profileForm.$valid)">
                    <div class="form-body">
                        <p>Change your password using the fields below and click "Make Changes" when finished.</p>
                        <div class="form-item">
                            <label for="" class="col-md-2">Current Password</label>
                            <div class="col-md-2">
                            	<!-- mp_trans_disable_start -->
                                <input type="password" name="currentPass" ng-model="currentPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="1" required>
                                <span class="error" ng-show="profileForm.currentPass.$dirty && profileForm.currentPass.$invalid">
									<span ng-show="profileForm.currentPass.$error.required">Password is required.</span>
									<span ng-show="profileForm.currentPass.$error.minlength">Password must be a minimum of eight characters.</span>
									<span ng-show="profileForm.currentPass.$error.pattern">Password contains invalid characters.</span>
								</span>
								<!-- mp_trans_disable_end -->
                            </div>
                        </div>
                        <p class="note">8 characters minimum (must contain at least 1 letter and 1 number).</p>
                        <div class="form-item">
                            <label for="" class="col-md-2">New Password</label>
                            <div class="col-md-2">
                            	<!-- mp_trans_disable_start -->
                                <input type="password" name="newPass" ng-model="newPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="2" required>
                                 <span class="error" ng-show="profileForm.newPass.$dirty && profileForm.newPass.$invalid">
									<span ng-show="profileForm.newPass.$error.required">Password is required.</span>
									<span ng-show="profileForm.newPass.$error.minlength">Password must be a minimum of eight characters.</span>
									<span ng-show="profileForm.newPass.$error.pattern">Password contains invalid characters.</span>
								</span>
                                <!-- mp_trans_disable_end -->
                            </div>
                        </div> 
                        <div class="form-item">
                            <label for="" class="col-md-2">Re-enter New Password </label>
                            <div class="col-md-2">
                            	<!-- mp_trans_disable_start -->
                                <input type="password" name="confirmPass" ng-model="confirmPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="3" required>
                                <span class="error" ng-show="profileForm.confirmPass.$dirty && profileForm.confirmPass.$invalid">
									<span ng-show="profileForm.confirmPass.$error.required">Password is required.</span>
									<span ng-show="profileForm.confirmPass.$error.minlength">Password must be a minimum of eight characters.</span>
									<span ng-show="profileForm.confirmPass.$error.pattern">Password contains invalid characters.</span>
								</span>
                                <!-- mp_trans_disable_end -->
                            </div>
                        </div>
						<div class="text-error" ng-if="errorMsg !== ''">{{ errorMsg }}</div>
                        <input type="submit" name="makeChanges" value="Make Changes" class="btnSubmit col-md-3" tabindex="4">
                    </div>
                </form>
            </div>
        </div>
      </div>
	</div>
   
