<div id="ptitle" class="mc_navheader hide-for-medium-down">Password</div>
    <div id="mc_ps" class="columns editinfo">
        <div id="mc_ps_personal" class="medium-12 columns selen-ps-password ps-wrapper" ng-controller="profileSettingPassword">
            <div id="mc_content_wrapper" class="myf_c_ mc_content_wrapper clearbox">
                <div class="mc_nested_grid">
                    <div id="mc_secNav" class="sticky show-for-small-only"><a href="/" class="cancel back">Cancel</a></div>
                    <div class="error ps-err-msg-top show-for-small-only" ng-show="errorMsg !== ''">{{errorMsg}}
                        <span class="ps-mob-back"><a href="/">Go Home</a></span>
                    </div>
                    <div class="note">
                        <p>Password must be a minimum of eight characters (must contain at least 1 letter and 1 number).</p>
                    </div>

                   <form novalidate class="profile-form" name="profileForm" ng-submit="submitForm(profileForm.$valid)">
                   <div class="mc_form editinfo_password">
                        <div class="data-wrap clearbox">    
                            <h2>Password</h2>  
                            <ul class="clearbox data-list">
                                <li><span class="hasinput"><label>Current Password</label><input type="text" ng-model="currentPass"  name="currentPass" placeholder="Enter Current Password" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }" maxlength="30" ng-minlength="8" required />
                                    <span class="errNote" ng-show="profileForm.currentPass.$dirty && profileForm.currentPass.$invalid">
                                    <span ng-show="profileForm.currentPass.$error.required">- Password is required.</span>
                                    <span ng-show="profileForm.currentPass.$error.minlength">- Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.currentPass.$error.pattern">- Password contains invalid characters.</span>
                                </span></span></li>  
                                <li><span class="hasinput"><label>New Password</label><input type="text" ng-model="newPass"  name="newPass" placeholder="Enter New Password" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }" maxlength="30" ng-minlength="8" required />
                                    <span class="errNote" ng-show="profileForm.newPass.$dirty && profileForm.newPass.$invalid">
                                    <span ng-show="profileForm.newPass.$error.required">- Password is required.</span>
                                    <span ng-show="profileForm.newPass.$error.minlength">- Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.newPass.$error.pattern">- Password contains invalid characters.</span>
                                </span></span></li>       
                                <li><span class="hasinput"><label>Confirm New Password</label><input type="text" ng-model="confirmPass" name="confirmPass" placeholder="Re-enter New Password" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }" maxlength="30" ng-minlength="8" required />
                                    <span class="errNote" ng-show="profileForm.confirmPass.$dirty && profileForm.confirmPass.$invalid">
                                    <span ng-show="profileForm.confirmPass.$error.required">- Password is required.</span>
                                    <span ng-show="profileForm.confirmPass.$error.minlength">- Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.confirmPass.$error.pattern">- Password contains invalid characters.</span>
                                </span></span></li>       

                            </ul>
                        </div>
                   </div>
                    </form>
                        <!-- close button -->
                        <div class="error ps-err-msg-bot hide-for-small-only" ng-show="errorMsg !== ''">{{errorMsg}}</div>
                        <a id="address_submit" href="javascript:;" ng-click="submitForm(profileForm.$valid);" class="button submitData" ng-if="canEdit">
                            <span class="show-for-small-only">Done</span><span class="hide-for-small-only">Submit</span>
                        </a>
                        <a href="javascript:;" disabled="disabled" class="button submitData submitData_clicked deleteData_clicked">
                            <span class="show-for-small-only">Please wait...</span><span class="hide-for-small-only">Please wait...</span>
                        </a>
                        <a href="/profile/change_password" class="button cancel hide-for-small-only">Cancel</a>

                </div>
            
            </div>



         </div>

        </div>

</div>

        