          
   <div class="columns">
    <div class="medium-12 columns">
        <div id="profile-settings" class="profile-settings selen-profile-settings" ng-controller="profileSettingPassword">
            <div class="data-wrap mc_wrapper">
                <h2 class="bb kl">Change your password</h2>
                <form novalidate class="profile-form" name="profileForm" ng-submit="submitForm(profileForm.$valid)">
                    <div class="form-body">
                        <p>Change your password using the fields below and click "Make Changes" when finished.</p>
                        <div class="form-item">
                            <label for="" class="col-md-2">Current Password</label>
                            <div class="col-md-2">
                                <!-- mp_trans_disable_start -->
                                <input type="password" name="currentPass" ng-model="currentPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="1" required>
                                <span class="error" ng-show="profileForm.currentPass.$dirty && profileForm.currentPass.$invalid">
                                    <span ng-show="profileForm.currentPass.$error.required">Password is required.</span>
                                    <span ng-show="profileForm.currentPass.$error.minlength">Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.currentPass.$error.pattern">Password contains invalid characters.</span>
                                </span>
                                <!-- mp_trans_disable_end -->
                            </div>
                        </div>
                        <p class="note">8 characters minimum (must contain at least 1 letter and 1 number).</p>
                        <div class="form-item">
                            <label for="" class="col-md-2">New Password</label>
                            <div class="col-md-2">
                                <!-- mp_trans_disable_start -->
                                <input type="password" name="newPass" ng-model="newPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="2" required>
                                 <span class="error" ng-show="profileForm.newPass.$dirty && profileForm.newPass.$invalid">
                                    <span ng-show="profileForm.newPass.$error.required">Password is required.</span>
                                    <span ng-show="profileForm.newPass.$error.minlength">Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.newPass.$error.pattern">Password contains invalid characters.</span>
                                </span>
                                <!-- mp_trans_disable_end -->
                            </div>
                        </div> 
                        <div class="form-item">
                            <label for="" class="col-md-2">Re-enter New Password </label>
                            <div class="col-md-2">
                                <!-- mp_trans_disable_start -->
                                <input type="password" name="confirmPass" ng-model="confirmPass" ng-pattern="/^\s*(([0-9]+[a-zA-Z]+[0-9a-zA-Z]*)|([a-zA-Z]+[0-9]+[0-9a-zA-Z]*))\s*$/" ng-model-options="{ updateOn: 'blur' }"  maxlength="30" ng-minlength="8" tabindex="3" required>
                                <span class="error" ng-show="profileForm.confirmPass.$dirty && profileForm.confirmPass.$invalid">
                                    <span ng-show="profileForm.confirmPass.$error.required">Password is required.</span>
                                    <span ng-show="profileForm.confirmPass.$error.minlength">Password must be a minimum of eight characters.</span>
                                    <span ng-show="profileForm.confirmPass.$error.pattern">Password contains invalid characters.</span>
                                </span>
                                <!-- mp_trans_disable_end -->
                            </div>
                        </div>
                        <div class="text-error" ng-if="errorMsg !== ''">{{ errorMsg }}</div>
                        <input type="submit" name="makeChanges" value="Make Changes" class="btnSubmit col-md-3" tabindex="4">
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
   

   controllersModule.controller('profileSettingPersonal', ['$scope', '$timeout', 'GetData', '$rootScope', 'PutData',
    function($scope, $timeout, GetData, $rootScope, PutData) {
        
        //default value
        $scope.errorMsg = '';
        $scope.suffixes = ["Jr", "Sr", "I", "II", "III", "IV"];

        // API path 
        var urltoload = constants.profileSettingPersonalAPI;

        // State Object
        // http://stackoverflow.com/questions/20672207/ng-select-with-an-object-and-its-properties-in-angularjs
        $scope.stateOptions = {
          "ca": "California",
          "or": "Orlando"
        }

        // display the correct gender
        $scope.checkGender = function(value){
            switch(value.toLowerCase()) {
                case 'm': 
                    return 'Male'
                    break;
                case 'f': 
                    return 'Female'
                    break;
                default: '';
            }
        };

        // get the suffix
        $scope.getSuffix = function(value){
            switch(value.toLowerCase()) {
                case 'jr': 
                    return 0
                    break;
                case 'sr': 
                    return 1
                    break;
                case 'i': 
                    return 2
                    break;
                case 'ii': 
                    return 3
                    break;
                case 'iii': 
                    return 4
                    break;
                case 'iv': 
                    return 5
                    break;
                default: '';
            }
        };

        $scope.getPersonal = function() {
            GetData.fetchData(urltoload).then(function (data) {
                    if (data && data.error) {
                        $scope.dataError = true;
                    } else {
                        console.log("we are here?");
                        console.log(data);
                        //found data
                        if (data) {     
                            // read-only value
                            $scope.firstName = data.firstName;
                            $scope.ssn = "XXX-XX-" + data.ssn;
                            $scope.dob = data.dob;
                            $scope.gender = $scope.checkGender(data.gender);

                            // two-way bind
                            $scope.lastName = data.lastName || '';
                            $scope.middleInitial = data.lastName.toUpperCase() || '';

                            if (data.suffix !== '') {
                                suffixNum = $scope.getSuffix(data.suffix);
                                $scope.suffix = data.suffix[suffixNum] || '';
                            }

                            $scope.email = data.email || '';

                            phoneNumber = data.phoneNumber;
                            $scope.phone1 = phoneNumber.substring(0,3) || '';
                            $scope.phone2 = phoneNumber.substring(3,6) || '';
                            $scope.phone3 = phoneNumber.substring(6,10) || '';

                            $scope.driverNumber = data.driverLicenseNumber || '';
                            //need to DO
                            $scope.driverState = data.driverLicenseState || '';

                            if (data.address) {
                                $scope.currentAddress = data.address.streetAddress1 || '';
                                $scope.currentCity = data.address.city || '';
                                //define the state object above
                                userState = data.address.state.toLowerCase();
                                $scope.currentState = $scope.stateOptions[userState] || '';
                                $scope.currentZip = data.address.zip || '';
                            }

                            if (data.prevAddress) {
                                $scope.previousAdd = data.prevAddress.streetAddress1 || '';
                                $scope.previousCity = data.prevAddress.city || '';
                                //define the state object above
                                userprevState = data.prevAddress.state.toLowerCase();
                                $scope.previousState = $scope.stateOptions[userprevState] || '';
                                $scope.previousZip = data.prevAddress.zip || '';
                            }
                        }
                    }
                }, function () {
                    //fail to get url
                    $scope.dataError = true;
                    $('.form-item, .form-subhead, .btnSubmit').remove();
                    $scope.errorMsg = "Sorry, there is an error retrieving your information. Please try again later.";
                });
        };

        $scope.updatePersonal = function() {
          //setting the updated model
           var personalData = {
                firstName: $scope.firstName,
                lastName: $scope.lastName,
                middleInitial: $scope.middleInitial,
                suffix: $scope.suffix,
                email: $scope.email,
                ssn: $scope.ssn,
                dob: $scope.dob,
                gender: $scope.gender,
                phoneNumber: $scope.phone1 + $scope.phone2 + $scope.phone3,
                driverLicenseNumber: $scope.driverNumber,
                driverLicenseState: $scope.driverState,
                address: {
                    city: $scope.currentAddress,
                    state: $scope.currentState,
                    streetAddress1: $scope.currentAddress,
                    streetAddress2: '',
                    zip: $scope.currentZip
                },
                prevAddress: {
                    city: $scope.previousCity,
                    state: $scope.previousState,
                    streetAddress1: $scope.previousAdd,
                    streetAddress2: '',
                    zip: $scope.previousZip
                }
            };


            //  Post Data
            PutData.fetchData(urltoload, personalData)
            .success(function (data2) {
                if (data2 && data2.error) {
                    $scope.dataError = true;
                } else {
                    console.log('successufully updated!');
                    //redirect to confirmation
                }
            })
            .error(function(data2){
                return false;
            });
        };

        //get data
        $scope.getPersonal();

        //submit
        $scope.submitForm = function(isValid) {
           if (isValid) {
             $scope.errorMsg = "CORRECT";
            
           }
           else {
            $scope.errorMsg = "Please fill in the required fields";
           }
        }
        
}]);
